node_modules
npm-debug.log
yarn-error.log
package-lock.json   # Optional: Keep this if you want exact versions, but often ignored in dev

.env
.env.production
.env.local
config/secrets.js

dist/
build/
coverage/

.git
.gitignore
.dockerignore
.vscode
.idea
*.swp

.DS_Store
Thumbs.db

tests/
__tests__/
*.test.js
*.spec.js